<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Processing form</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer>
      const IS_SUCCESS_URL = '<%= SUCCESS_CHECK_URL %>';
      const SUCCESS_REDIRECT = '<%= SUCCESS_REDIRECT %>';
      const FAILURE_REDIRECT = '<%= FAILURE_REDIRECT %>';

      const timeoutId = setTimeout(async () => {
        try {
          await checkSuccess();
          // redirect
          console.log('success!');
          window.location.replace(SUCCESS_REDIRECT);
        } catch (error) {
          // redirect fail
          console.log('failed!');
          console.log(error);
          window.location.replace(FAILURE_REDIRECT);
        }
      }, 500);

      function checkSuccess() {
        let keep_checking = true;
        let retries = 10;
        let response;

        return new Promise(async (resolve, reject) => {
          try {
            setTimeout(async () => {
              while (keep_checking) {
                console.log('stating while loop..');
                retries--;

                console.log('throttling: ', retries * 100);
                response = await axios.get(`${IS_SUCCESS_URL}&retries=${retries}`);

                console.log('response:');
                console.log(response?.data?.success);

                if (response?.data?.success) keep_checking = false;
                if (retries === 0) keep_checking = false;
              }
              if (response?.data?.success) return resolve(response?.data?.result);
              reject('NOT FOUND');
            }, retries * 100);
          } catch (error) {
            console.log(error);
            reject(error);
          }
        });
      }
    </script>
  </head>
  <body>
    <p>Processing..</p>
  </body>
</html>
